* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   line-height: 2;
}

header {
   background: radial-gradient(rgb(126, 99, 245), rgb(226, 45, 166));
   padding: 1rem;
   text-align: center;
}

.container {
   margin: auto;
   width: 500px;
   overflow: auto;
   padding: 3rem 2rem;
}

#my-form {
   padding: 2rem;
   background: linear-gradient(to bottom right, rgb(126, 99, 245), rgb(226, 45, 166))
}

#my-form label {
   display: block;
}

.textInput {
   width: 100%;
   padding: 8px;
   margin-bottom: 10px;
   border-radius: 5px;
   border: 3px solid rgb(171, 68, 231);
}

.btn {
   display: block;
   width: 100%;
   padding: 10px 15px;
   border: 0;
   background: rgb(202, 95, 245);
   color: rgb(240, 203, 243);
   border-radius: 5px;
   margin: 5px 0;
}

.btn:hover {
   background: rgb(112, 0, 146);
}

.bg-darck {
   background: rgb(71, 4, 148);
   color: rgb(255, 212, 248);
}

.error {
   background: rgb(102, 0, 161);
   color: rgb(255, 212, 248);
   padding: 5px;
   margin: 5px
}